= local_variables

.flex.items-center.space-x-2.rounded-md.bg-stone-300.p-2
  %input#email.border-none.bg-transparent.text-lg.text-gray-900.focus:outline-none.flex-grow{:autocomplete => "email", :name => "", :placeholder => "email", :type => "email"}/
