@import "../../node_modules/bootswatch/dist/minty/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootswatch/dist/minty/bootswatch";

.gap {
  gap: 1rem;
}

.gap-x {
  column-gap: 1rem;
}

.gap-y {
  row-gap: 1rem;
}
