<div
  data-controller="signup-setup"
  data-action="clerk-loaded@document->signup-setup#setup"
  class="flex justify-center">
  <div id="sign-in-form" data-signup-setup-target="signin"></div>
</div>

