<h2>sign in page</h2>

<form action="/session" class="d-flex flex-column gap">
  <div class="form-floating">
    <input type="email" name="email" id="email" placeholder="Email" required="required" class="form-control">
    <label for="email">Email</label>
  </div>
</form>
