<div
  data-controller="signin-setup"
  data-action="clerk-loaded@document->signin-setup#setup"
  class="flex justify-center">
  <div id="sign-in-form" data-signin-setup-target="signin"></div>
</div>
